table{
    width: 100%;
    border-collapse: collapse;
}
td,th{
    border: 1px solid rgb(37, 44, 83);
}
th{
    background: rgb(37, 44, 83);
    color: white;
    padding: 10px;
}
td{
    text-align: center;
    padding: 10px;
}

