body{
  font-family: 'Allerta', sans-serif;
  margin: 0;
}
.container{
  width: 65%;
  margin: auto;
}
.guitar-container{
  width: 50%;
  margin:auto;
}
.header{
  position: relative;
}
.menu{
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right:0;
}
.menu li{
  display: inline-block;
  margin-left: 15px;
}
figure{
  display: inline-block;
}
.main{
  background-image: url('../images/background.png');
  color: white;
}
.button{
  border-radius: 8px;
  background:linear-gradient(to right,#ff7250,#fe344e);;
  padding: 10px;
  font-size: 1em;
  color: white;
  border: none;
}

.title{
  font-size: 70px;
  margin: 0px 0 15px;
  padding-top: 70px;
}
span{
  margin-right: 5px;
}
.title-a{
  font-size: 24px;
  margin: 0 0 25px;
}
.title-b{
  font-size: 50px;
  margin-bottom: 20px
}
button{
  margin-bottom: 70px;
}
.guitars{
  color: #1f313c;
}
.guitars h2{
  font-size: 35px;
  text-align: center;
}
.title,
.guitars h2{
  font-family: 'Montserrat', sans-serif;
}
.guitar{
  border: 2px black solid;
  margin: auto;
  margin-bottom: 10px;
  overflow: hidden;
  width: 67%;
  border-radius: 10px;
}
.guitar ol{
  padding: 0;
}
.acoustic-img{
  float: right;
  position:relative;
  /* margin-right: 350px; */
}
.classic-img{
  float:left;
}
.first-guitar{
  padding-left: 20px;
}
.second-guitar{
  margin-left: 460px;
}
.footer{
  background: rgb(37, 44, 83);
}
.footer .container{
  display: flex;
  justify-content: space-between;
}
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact img{
  margin-bottom: 10px;
}
.contact a{
  color: white;
  text-decoration: none;
}
.contact strong{
  display: block;
}
.addresses{
  display: flex;
}
.addresses a{
  margin-right: 10px;
}
.form{
  color: white;
  display: flex;
  width: 460px;;
}
.column-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;

}
.matter{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-box, .genre{
  margin-bottom: 10px;
}
textarea{
  max-lines: 40;
}